# Editor directories and files, plus personal files that shouldn't be tracked
/.vs/
*.suo
*.user
*.dbmdl
*.opendb
*.obj
*.pdb
*.userprefs
TestResults/

# Needed .gitignore files
.github/
.env
.local
.env.example
.env.test
.env.travis